.container
  .wrapper
    .heading
      %h1#header HedonismBot
      %h2#subheader Track the shows you're currently watching, allowing you to see at-a-glance when the next episode airs. No more Wikipedia/IMDB digging!
      #query
        %form{ controller: 'trackings', action: 'create', method: 'post' }
          = @messages
          = text_field_tag "show_title", "", { placeholder: "\"Game of Thrones\", \"Adventure Time\", \"Dexter\"", autofocus: true }
          = submit_tag "+"
      #mid_links
        = link_to "Signup", signup_path
        = link_to "Login", login_path
        = link_to "About", about_path
  .content
    #shows
      - if @shows.empty?
        #demo_show_view
          %img{src: "http://thetvdb.com/banners/graphical/121361-g19.jpg", width: "400px"}
          %p Next Air Date: 4/01/2014
      = @shows unless @shows.empty?