%p#about_blurb
  HedonismBot is a pet project by
  = succeed '.' do
    = link_to "Kevin Ko", "http://www.kokev.in"
  It was built as a tool for hedonistic, voracious consumers of television to keep track of when episode delays occurred or when season openers would premier.
  %br
  %br
  HedonismBot is built with Ruby on Rails and utilizes the 
  = link_to "TVRage", "http://www.tvrage.com"
  and
  = link_to "TVDB", "http://www.thetvdb.com"
  APIs. 
  = link_to "Contact me", "mailto:kevin@kokev.in"
  if you have any questions :).
#youtube
  %iframe{width: "240", height: "160", src: "//www.youtube.com/embed/Sv4Gui9hKCM?rel=0", frameborder: "0"}