%li
  .show_view
    %img{src: show.banner, width: "420px"}
    .title= show.title
    - if show.ended?
      %p.ended= "Show has ended."
    - else
      .next
        %p
          %strong
            = precede 'Next Air Date: ' do 
              %span.next_date= date_presenter_for_next_airdate(show.next_airdate)
          %br
          %span.stronger= show.next_episode ? "Episode: #{show.next_episode} - \"#{show.next_title}\"" : "Episode: N/A"
          %br
          = show.airtime ? "Air Time: #{show.airtime}" : "Air Time: N/A"
    .last
      %p
        %span.stronger= "Last Air Date: #{date_presenter_for_last_airdate(show.last_airdate)}"
        %br
        = show.last_episode ? "Episode: #{show.last_episode} - \"#{show.last_title}\"" : "Episode: N/A"