%li
  %span.delete
    = link_to tracking_path(tracking), method: :delete, class: "delete_tracking", remote: true do 
      %i.icon-cancel-circled 
  .show_view
    %img{src: tracking.show.banner, width: "420px"}
    .title= tracking.show.title
    - if tracking.show.ended?
      %p.ended= "Show has ended."
    - else
      .next
        %p
          %strong
            = precede 'Next Air Date: ' do 
              %span.next_date= date_presenter_for_next_airdate(tracking.show.next_airdate)
          %br
          = tracking.show.airtime ? "Air Time: #{tracking.show.airtime}" : "Air Time: N/A"
          %br
          = tracking.show.next_episode ? "Episode: #{tracking.show.next_episode} - \"#{tracking.show.next_title}\"" : "Episode: N/A"
    .last
      %p
        %span.stronger= "Last Air Date: #{date_presenter_for_last_airdate(tracking.show.last_airdate)}"
        %br
        = tracking.show.last_episode ? "Episode: #{tracking.show.last_episode} - \"#{tracking.show.last_title}\"" : "Episode: N/A"